@import "tailwindcss";

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


/* === Toastify Progress Bar start === */
.custom-toast {
  position: relative;
  overflow: hidden;
}

.custom-toast::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  border-radius: 5px;
  animation: progressBar 3s linear forwards;
  background-color: #22c55e; /* Tailwind green-500 */
}

@keyframes progressBar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
/* === Toastify Progress Bar end === */



/* hide scrollbar for customer review on home page */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


/*animation for customer review cards start */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 5s linear infinite;
  display: flex;
}

/*animation for customer review cards end */


/* shadow for customer review cards*/
.shadow-even {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
















































/*! unused css */


/* Shake animation */
/* @keyframes softShake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-2px);
  }
}

.animate-softShake {
  animation: softShake 0.4s ease-in-out;
} */

/* Smooth fade */
/* @keyframes fadeInSmooth {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeInSmooth {
  animation: fadeInSmooth 0.4s ease forwards;
} */