@import "tailwindcss";

/* === Tailwind Imports === */
@import "tailwindcss/preflight";
@import "tailwindcss";


* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


/* === default font & styling globally === */ 


@layer base {
  html {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
  }

  body {
    font-family: "'Inter', -apple-system, BlinkMacSystemFont, Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #111;
    margin: 0;
    background-color: #fff;
  }

  input,
  button,
  textarea,
  select {
    font-family: inherit;
    font-size: 16px; /* Prevent iOS zoom */
  }

  * {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    outline: none;
  }
}


/* === default font & styling globally === */ 


/* === Toastify Progress Bar start === */
.custom-toast {
  position: relative;
  overflow: hidden;
}


.custom-toast::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  border-radius: 5px;
  animation: progressBar 3s linear forwards;
  background-color: #22c55e; /* Tailwind green-500 */
}

@keyframes progressBar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
/* === Toastify Progress Bar end === */




















































/*! unused css */


/* Shake animation */
/* @keyframes softShake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-2px);
  }
}

.animate-softShake {
  animation: softShake 0.4s ease-in-out;
} */

/* Smooth fade */
/* @keyframes fadeInSmooth {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeInSmooth {
  animation: fadeInSmooth 0.4s ease forwards;
} */